/Carreres8/nbproject/private/
/Carreres8/build/
/llegirFitxer/nbproject/private/
/llegirFitxer/build/
/Carreres8/dist/
/llegirFixers1/nbproject/private/
/llegirFixers1/build/
/BaseDadesAlumne/nbproject/private/
/BaseDadesAlumne/build/
/BaseDadesAlumne/dist/